body{
    width: 100vw;
    height: 100vh;
}



.Container{
    width: 100vw;
    height: 100vh;
    margin: auto;
    top: 0px;
    opacity: 1; 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.div-interna-1{
    background: transparent url('img/LogoMaior.png') 0% 0% no-repeat padding-box;
    width: 60%;
    height: 72%;
    background: #414767 0% 0% no-repeat padding-box;
    opacity: 1;
    text-align: center;
    font: Regular 40px/56px Arial Black;
    letter-spacing: 0;
    color: #FFFFFF;

}


.div-interna-2{

    width: 40%;
    height: 72%;
    background: #BEF99A 0% 0% no-repeat padding-box;
    opacity: 1;
    text-align: center;
    font: Regular 43px/46px Arial Black;
    letter-spacing: 0;
    color: #404668;

}

.Container-2{
    

    width: 100vw;
    height: 18%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    display: flex;
    flex-direction: row;

    text-align: center;
    font: Regular 16px/23px Arial Black;
    letter-spacing: 0;
    color: #404668D9;
    opacity: 1;
}

.rodape{
    top: 1154px;
    left: 0px;
    width: 100vw;
    height: 10%;
    background:#F3F3F3 0% 0% no-repeat padding-box;
    opacity: 1;
    text-align: center;
    font: Regular 16px/23px Arial Black;
    letter-spacing: 0;
    color: #404668D9;

}
